# Server Configuration
PORT=5000
NODE_ENV=development

MONGO_URI=mongodb://nareshburdakpc25_db_user:<PASSWORD_HERE>@ac-3nlongx-shard-00-00.cfnwyql.mongodb.net:27017,ac-3nlongx-shard-00-01.cfnwyql.mongodb.net:27017,ac-3nlongx-shard-00-02.cfnwyql.mongodb.net:27017/?ssl=true&replicaSet=atlas-pvi7lx-shard-0&authSource=admin&appName=careabledb

# JWT Configuration
JWT_SECRET=0534e9d3fb55a5c488251fafa5b89d078d6860c2f646923d71fa07896b2585a484d36d9c119bd31db7414d48eca975e443f6d7933e53852345aaa8212a4427ba
JWT_EXPIRES_IN=7d

